{% extends "base.html" %}

{% block title %}Announcements - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Announcements Category");
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- main col -->
        <div class="col-md-9">
            <div class="blog-home-header">
              <h1><span class="highlight">Announcements</span></h1>
              <p>General announcements about launches and the sort.</p>
              <ul class="list-inline social-media">
                  <li><a href="//twitter.com/hellowebapp"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="//facebook.com/hellowebapp"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="//github.com/hellowebapp"><i class="fa fa-github"></i></a></li>
                  <li><a href="mailto:tracy@hellowebapp.com"><i class="fa fa-envelope"></i></a></li>
                  <li><a href="/rss.xml"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>

            <ul class="list-unstyled" id="archive-list">
                {% for post in posts %}
                {% if "announcement" in post.category %}
                {% include 'includes/post-link.html' with post=post %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3">
          {% include 'includes/blog-sidebar.html' %}
        </div>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
