title: Black Friday 2017 Hello Web Books deals
# headline: 
excerpt: Black Friday (and Cyber Monday, and Small Business Saturday, and all those other things) is almost here! From Friday starting 12:01am until Monday 11:59pm, I'll be selling all three of my video courses for 25% off (only $59 for each package).
author: Tracy Osborn 
featuredimage: /images/blog/2017/11/mockup.jpg
date: 21-11-2017
category: announcements
featured: True

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
Black Friday (and Cyber Monday, and Small Business Saturday, and all those other things) is almost here!

From Friday starting 12:01am until Monday 11:59pm, I'll be selling all three of my video courses for 25% off **(only $59 for each package)**.

* [Hello Web App](https://hellowebbooks.withcoach.com/hello-web-app-video-course), my videos + eBook teaching beginner web app development with Django.
* [Hello Web App: Intermediate Concepts](https://hellowebbooks.withcoach.com/hello-web-app-intermediate-concepts-video-course), which teaches intermediate Django concepts.
* [Hello Web Design](https://hellowebbooks.withcoach.com/hello-web-design-video-course), my **brand new** video + eBook series teaching design for non-designers.

I'll share the coupon code here as soon as it's time!

**Also** I'll be sharing an _even better_ coupon code to anyone who is on the Hello Web Books newsletter list. If you're not on the list yet, you can join at the bottom of the page.

Happy Thanksgiving to all my fellow Americans!
{% endfilter %}
{% endblock body %}
