title: First zine on command line basics has launched today!
# headline: An introduction
excerpt: Over the last few weeks, I've been working on a little project to go along with the Kickstarter campaign for Hello Web App (one week left!) I've punted around the idea of releasing little mini-books or zines on small ideas, like pairing fonts or working with git. Today I'm releasing my first project, A Really Friendly Command Line Intro for MacOS!
author: Tracy Osborn
featuredimage: /images/blog/2018/03/cmd-line-page.png
date: 26-3-2018
category: announcements
featured: True

{% extends "post.html" %}
{% block body %}

<figure class="caption">
    <a href="https://hellowebbooks.com/learn-command-line">
        <img src="/static/images/blog/2018/03/cmd-line-page.png" alt="Really Friendly Command Line Intro" style="border-color: #000;"/>
    </a>
</figure>

{% filter markdown %}
Over the last few weeks, I've been working on a little project to go along with the Kickstarter campaign for _Hello Web App_ ([one week left!](https://www.kickstarter.com/projects/1868398473/hello-web-app-20-build-your-first-web-app-with-dja)) I've punted around the idea of releasing little mini-books or zines on small ideas, like pairing fonts or working with git.

Today I'm releasing my first project, [A Really Friendly Command Line Intro](https://hellowebbooks.com/learn-command-line) for MacOS! This is a great addition to _Hello Web App_ (and will be bundled with it moving forward). I walk through all the basic UNIX/command line commands that a beginner might need to learn when they start coding for the first time.

Right now, you can:

* [Read the HTML online here.](https://hellowebbooks.com/learn-command-line)
* [Download the PDF.](http://hellobks.com/cmd-line-pdf)
* [Download the printable PDF](http://hellobks.com/cmd-line-printable), set up to be folded together and stapled.
* [Buy .mobi/.ePub versions on Leanpub for $2.99.](https://leanpub.com/really-friendly-command-line-intro)

Upcoming, I'm working on some additional formats (like a video) as well as creating Windows and Linux versions of the zine.

Thanks friends! Go check out [A Really Friendly Command Line Intro](https://hellowebbooks.com/learn-command-line).
{% endfilter %}

{% endblock body %}
