title: Shipping and Fulfillment for My Self-Published Books (Update Since I’ve Moved to Canada) 
# headline: An introduction
excerpt: Since I’ve moved to Toronto, Canada, I’ve had to set up a completely new fulfillment system, so now that blog post is completely out of date. My current solution still has some kinks but lately I’ve had a few big “ah ha” moments (and a few shipping disasters, costing me $$$) that I thought it was time to give an update.
author: Tracy Osborn 
featuredimage: /images/blog/2018/fba.png 
date: 23-1-2018
category: production
featured: True

{% extends "post.html" %}
{% block body %}

<figure class="caption video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Z-BwLmkdAeg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='allowfullscreen'></iframe>
    <figcaption>Video/vlog version of this post. Experimenting with formats!</figcaption>
</figure>

{% filter markdown %}
Back when I was in California, I got a pretty good system down for fulfilling books ([which you can see here](https://hellowebbooks.com/news/my-adventures-and-advice-on-fulfilling-orders-for-a-printed-self-published-book/)). 

Since I’ve moved to Toronto, Canada, I’ve had to set up a completely new fulfillment system, so now that blog post is completely out of date. My current solution still has some kinks but lately I’ve had a few big “ah ha” moments (and a few shipping disasters, costing me $$$) that I thought it was time to give an update.

**Current system: Amazon FBA for fulfillment to the US and self-packed Canada Post for Canada/overseas.** I’m in the process of sending books to Amazon.ca so I can sell there as well (and Amazon.com is already set up with Amazon FBA). Generally, the majority of my revenue comes from selling on my website (HelloWebBooks.com) using [Gumroad](https://gumroad.com) as the selling middleman.

## On Amazon FBA and lessons learned
Moving to Canada meant I was forced to find a fulfillment center, as it wouldn’t make sense for me to pack and ship books to the US anymore (you know, since it’s international and all.)

Finding a fulfillment center was way more annoying than I thought it would be. I first turned to [Print Ninja](http://www.printninja.com/)’s fulfillment service, which was great — until they shut down that part of their business. Sigh.

They had a preferred partner to transfer my fulfillment to, but this partner charged _extra_ for objects shipped using USPS’s Media Mail option (a much cheaper way to ship books in the US) which annoyed me so much that I immediately took them out of my fulfillment search. I would already pay a fulfillment/handling fee per book — why charge me extra for shipping when it shouldn’t be more work on their end?

In the end, I decided to go with a big wig fulfillment center — [Amazon FBA](https://services.amazon.com/fulfillment-by-amazon/benefits.html). The downside is that I’m dealing with a _huge_ corporation, so I don’t have a rep I work with directly to answer questions. And believe me, the Amazon FBA backend experience is one of the most confusing websites I’ve ever used. 

{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/fba.png" alt=""/>
    <figcaption>My Amazon Seller Central dashboard.</figcaption>
</figure>

{% filter markdown %}

(I also used to use [Amazon Advantage](https://www.amazon.com/gp/seller-account/mm-product-page.html?topic=200329780), which is more like consignment and has an even more terrible back-end system, but now I’m 100% using the FBA system. The advantages/disadvantages between the two systems is still mostly a mystery to me but at least things are slightly more streamlined.)

A month ago, I noticed that I wasn’t making any revenue on FBA. Instead of getting a check at the end of the month, I was charged $600.
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/email.png" alt=""/>
    <figcaption>Not what you want to see when you're trying to make money, not lose money.</figcaption>
</figure>

{% filter markdown %}

It took me _forever_ to figure out what happened. It was because the books were listed in their backend as being the size of the box they _came_ in, not the size of the book itself (a box holds 50 books, so I was paying 50x for storage than I should have been!)

Because I don’t have a dedicated rep, I had to navigate support who kept answering questions I didn’t ask and ignoring the ones I did ask. But eventually I got a refund for my fees and the correct information entered for my account. 

To this day, I don’t know whether I put in the wrong info or they did, but at least it’s fixed now.

**Lesson learned: Scrutinize the charges on your credit card and whine until errors get fixed. Amazon was certainly not going to catch this error (or care) unless I brought it up.**

Overall, I’m mostly happy with fulfillment through Amazon FBA, but I’m keeping my eye out for better solutions still.

## Lessons learned for overseas/Canadian fulfillment and shipping with Canada Post
My original plan was to use Amazon FBA for every shipment, Canada/overseas included. That was until I shipped some books using it, and it not only _took forever_ to arrive (I could only choose ground/boat shipping), I got no tracking numbers AND it cost buckets. And at least two books got lost during this time.

It was a happy day when I discovered that [EasyPost](easypost.com) has a Canada Post API, so I switched to fulfilling all Canada/overseas orders myself. So I keep boxes of books, pack them up, pay and print labels at home, and lug them over to the nearest Canada Post kiosk to ship.

{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/easypost.png" alt=""/>
    <figcaption>Yay shipping APIs!</figcaption>
</figure>

{% filter markdown %}

As I live in a _tiny_ condo, storing boxes of books and packing supplies is annoying too, but the price savings make it worth it. I’ll spending my evenings packing up books while watching Netflix. 

USPS First Class International worked well for me in the US, so I chose to ship out my Kickstarter international orders through the equivalent with Canada Post — Canada Post Ground.

Alas, I didn’t realize how horribly slow it would be! Orders shipped on 10/31/2017 are only *now* starting to arrive in Australia — three months later. 

I now ship using their slightly more expensive Air shipping, and cuts the shipping time from months to around 10 days. I only regret I didn’t know about this when I shipped out my books to my Kickstarter backers. 

**Lesson learned: Really, really investigate shipping speeds vs. cost. The cheapest rate might be ridiculously slow.**

---

After 1.5 years of living in Toronto (sheesh, time flies), I’m finally getting my logistics nailed down for sending books. I keep wondering whether it would be better if I went all digital (like most courses online), since I’d save myself a lot of time and money with designing and shipping… but it truly is nice to have a real book and be able to share something physical with my readers.

Thanks everyone! If you have any questions about writing a book, leave me a comment below. 
{% endfilter %}

{% endblock body %}
