title: Hello Web App 2.0 is now fundraising on Kickstarter
# headline: An introduction
excerpt: The first book I wrote was Hello Web App, teaching web app development using Python and Django. It's since been read by thousands of readers around the world, and I'm super excited to announce a new edition of the book, fundraising on Kickstarter!
author: Tracy Osborn
featuredimage: /images/blog/2018/ks.png
date: 1-3-2018
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full">
    <a href="https://www.kickstarter.com/projects/1868398473/hello-web-app-20-build-your-first-web-app-with-dja"><img src="/static/images/blog/2018/ks.png" alt="Hello Web App 2.0 on Kickstarter"/></a>
    <figcaption>Hello Web App on Kickstarter — go back the campaign!</figcaption>
</figure>

{% filter markdown %}
The first book I wrote was _Hello Web App_, teaching web app development using Python and Django. It's since been read by thousands of readers around the world, and I'm super excited to announce a new edition of the book, fundraising on Kickstarter!

[https://www.kickstarter.com/projects/1868398473/hello-web-app-20-build-your-first-web-app-with-dja](https://www.kickstarter.com/projects/1868398473/hello-web-app-20-build-your-first-web-app-with-dja)

Some of the big changes:

* The books are now packaged together as a unit, no longer selling them individually.
* The content has been updated to Python 3 + Django 2.0.
* The videos are getting a complete revamp.
* Various bits of pieces of the content has been updated as well.
* The Kindle edition has some snazzier graphics.

I love Python and Django because I find them way simpler than Javascript to launch web apps — Python is easier for me to read and parse and Django includes most of the parts you need for a web app (with login, registration, etc) by default. It's been a joy working with these two technologies over the years (especially since I'm a designer with no computer science background).

If you've been curious about working with Python or creating your own web app from scratch, I wrote this book for you. Any help or shares you can give are super appreciated!

**Kickstarter campaign, products will start shipping in April:
[https://www.kickstarter.com/projects/1868398473/hello-web-app-20-build-your-first-web-app-with-dja](https://www.kickstarter.com/projects/1868398473/hello-web-app-20-build-your-first-web-app-with-dja)**

Thanks everyone, I hope you share and back!

{% endfilter %}
{% endblock body %}
