title: Hello Web App will stay up online for free forever
# headline: An introduction
excerpt: Happy days! The online version of Hello Web App will officially stay online to read for free forever. 
author: Tracy Osborn 
featuredimage: /images/blog/2017/8/tutorial.png 
date: 3-8-2017
category: announcements
featured: True

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
As some folks have noticed, I said I was going to only [keep Hello Web App up to read online for free](http://localhost:8000/news/hello-web-app-online/) during the [Hello Web Design Kickstarter](https://www.kickstarter.com/projects/1868398473/hello-web-design-design-basics-for-non-designers)... and then I didn't take it down. I was already leaning towards just keeping it online forever anyways, and then I got overwhelmed with HWD work, so...

...it's official, [Hello Web App (the original) will stay online to read for free!](https://hellowebbooks.com/tutorial/)

At some point (after [Hello Web Design](http://localhost:8000/learn-design/) is done) I'm going to make a bunch of updates to the book, mainly ensuring it works with Python 3 and the latest versions of Django. I'll also reflect those updates on the online version. [Hello Web App will also continue to be sold](https://hellowebbooks.com/order/) as an eBook bundle, paperback, or video package for those who prefer the designed or paperback versions of the book (or want to support my work, thank you thank you.)

(Don't forget that [Hello Web App: Intermediate Concepts](https://hellowebbooks.com/django-intermediate-concepts/) [can also be ordered!](https://hellowebbooks.com/order/))

There you have it. Enjoy Hello Web App, and prepare yourself for a bunch of Hello Web Design annoucements soon!
{% endfilter %}

{% endblock body %}
