title: Library, bulk, and educational discounts available
# headline: An introduction
excerpt: I'm happy to give a discount for libraries, schools, and bulk orders — just write me at tracy@hellowebbooks.com and I'll set up a special order form with a discount. While my order page sells the paperback book with the digital files included, I'm also happy to send just paperbacks (at a reduced price) for bulk/educational orders as well.
author: Tracy Osborn
featuredimage: /images/blog/2015/5/7/shipments.jpeg
date: 18-06-2018
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

<figure class="full video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jJl-3AHs8FQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
</figure>

{% filter markdown %}
I've gotten a few questions lately about bulk, library, and educational discounts for all Hello Web Books, so I thought I'd write a quick note here.

**Of course, I'm happy to give a discount for the above use-cases — just write me at [tracy@hellowebbooks.com](mailto:tracy@hellowebbooks.com) and I'll set up a special order form with a discount.** While my [order page](/order) sells the paperback book with the digital files included, I'm also happy to send just paperbacks (at a reduced price) for bulk/educational orders as well.

I've also set up Amazon to allow for bulk discounts. I vastly prefer to sell directly (since Amazon takes a _ridiculous_ amount of money from me, so the books I sell through Amazon are essentially at-cost) but I know some organizations are set up to use Amazon easily. The only other issue is that I can't sell Hello Web App as a set on Amazon, so each HWA book will have to be bought separately. See the listings here: [Hello Web Design](https://amzn.to/2M3T7ub), [Hello Web App](https://amzn.to/2yrSo42), [Hello Web App: Intermediate Concepts](https://amzn.to/2yvoBYf)
{% endfilter %}

{% endblock body %}
