title: Library, bulk, and educational discounts available
# headline: An introduction
excerpt:
author: Tracy Osborn
featuredimage:
date: 10-06-2018
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
I've gotten a few questions lately about bulk, library, and educational discounts for all Hello Web Books, so I thought I'd write a quick note here.

Of course, I'm happy to give a discount for the above use-cases — just write me at [tracy@hellowebbooks.com](mailto:tracy@hellowebbooks.com) and I'll set up a special order form with a discount. While my [order page](/order) sells the paperback book with the digital files included, I'm also happy to send just paperbacks (at a reduced price) for bulk/educational orders as well.
{% endfilter %}

{% endblock body %}
