title: Hello Web Books Evangelist/Marketing Assistance Wanted
# headline: An introduction
excerpt: Lately I've been finding myself too busy to do the marketing/upkeep that I should be, and I've been kicking around the idea of hiring someone for 5-10 hours a week to help me keep everything active and keep abreast of opportunities I should be doing in order to promote Hello Web Design and continue promoting *Hello Web App*.
author: Tracy Osborn 
featuredimage: /images/blog/2017/9/ks-banner-5.jpg
date: 18-9-2017
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

Hey friends - *[Hello Web Design](https://hellowebbooks.com/learn-design/)* is almost here!

For my last two books, I've taken care of all the marketing hulabaloo myself. I find the process really fun: finding podcasts to pitch myself to be on, places I should post the books, writing articles about the book, and generally promoting it (and loving seeing my books in people's hands!)

Lately I've been finding myself too busy to do the marketing/upkeep that I should be, and I've been kicking around the idea of hiring someone for 5-10 hours a week to help me keep everything active and keep abreast of opportunities I should be doing in order to promote *Hello Web Design* and continue promoting *Hello Web App*.

Specifically, some ideas I had for duties with this role:

* Find interesting beginner design/programming articles and share on the Hello Web Books social media accounts.
* Find discussions on Reddit/other sites and let folks know about Hello Web App/Hello Web Design.
* Find places/charities/events/schools that would benefit from books being donated. 
* Write blog posts maybe? Or remind me to write more often, hah.
* Respond to questions on the Hello Web App forum (or refer to me.)
* I might set up a Slack so responding there and helping it feel more active.
* Help me research fulfillment options with Amazon and other services.
* Research speaking opportunities for me to promote the books.

These are all ideas I have for potential things to work on. We'd work together to figure out what we should prioritize so we wouldn't be necessarily doing all of the above right off the bat.

I struggle with the right title for the role (assistant seems too minion-y, evangelist maybe?) You're welcome to tell me the title you'd want!

I'm hoping to start with a 3 month trial and then we can see about continuing and whether to increase hours.

Bonus if you've read my books since you already have a feel for my work, but that isn't necessary. Of course this is a remote role and you can work whenever is convenient for you.

Interested? Send me an email at [tracy@hellowebapp.com](mailto:tracy@hellowebapp.com) with the subject "Hello Web Books Evangelist/Marketing Assistance" and give me an two or so paragraph overview of your background, why you'd be interested in this position, and your hourly rate. No need for resumes. :)

Thanks friends!


{% endfilter %}

{% endblock body %}
