title: Meet the Hello Web Books Evangelist/Marketing Assistant
# headline: An introduction
excerpt: I moved away from programming, but I wasn't satisfied. I realized that I longed to program professionally - I just needed to figure out how to get there.
featuredimage: <!-- Tracy M needs to add a profile pic -->
date: 27-10-2017
category: announcements
featured: False

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

<!-- Hey friends - *[Hello Web Design](https://hellowebbooks.com/learn-design/)* is almost here! -->

Hi everyone - I’m Tracy (aka the "Other Tracy") and I'm the new Marketing Assistant/Evangelist and I'm really glad to join the team.

A 'lil bit about me: I come from a wildly diverse professional background - my most favorite things have been marketing, communications, problem solving, programming and teaching.
I'm currently transitioning into full-stack web development and I'm very nearly there... almost.

I’ve always been interested in computers, technology and programming, though I never thought I could actually *be* a programmer.
I learned BASIC when I was 10 and continued to dabble/fumble through high school, but by the time I got to college, I was completely disconnected from the computer science majors.
They all seemed like geniuses who just *knew* everything and I felt so far behind and disconnected from them.
Fast forward ... Careerwise, I moved away from programming, but I wasn't satisfied. I realized that I longed to program professionally - I just needed to figure out how to get there.

Discovering Tracy’s Hello Web App book was super exciting and a big boost to my progress. She makes web app development approachable and understable. Programming can seem scary, but it's actually a lot of fun!
(Okay, mean error messages are never fun, but finally making them go away is awesome!) I love finding and sharing tools like Hello Web App that demonstrate how fun and unscary programming really is. (And I'm even
more excited about Hello Web Design!)

So that's enough about me. TL; DR: I'm the Other Tracy and I'll be around helping out with lots of marketing projects. Send a note or just say hi at tracy.m@hellowebbook.com. I'm looking forward to getting to know y'all :)

{% endfilter %}

{% endblock body %}
