title: New Hello Web Books Website!
# headline: An introduction
excerpt: After a few months of work, I'm super excited to release the new Hello Web Books website design to the world! When I originally designed this website, I stepped out of my comfort zone and added a lot of photos, banners, fonts, and colors - I'm terrible at designing the "little details" so I relied on a lot of extra things to make the website feel more polished. In this design, I stripped most of that out.
author: Tracy Osborn
featuredimage: /images/blog/2018/new-website.png
date: 13-2-2018
category: announcements
featured: True

{% extends "post.html" %}
{% block body %}

<p>After a few <strike>weeks</strike> months of work, I'm super excited to release the new Hello Web Books website design to the world!</p>

<figure class="caption video" style="padding-bottom: 50%;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nDSxdjNgOYE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
    <figcaption>Video/vlog of this post. In it, I go through a bit of why I updated everything and before/after screens.</figcaption>
</figure>

<p>In <a href="https://hellowebbooks.com/learn-design"><i>Hello Web Design</i></a>, one of my biggest points for a nicer looking website design is to <em>reduce clutter</em>. And then I'd come back to this website and get annoyed at past-me for creating such a clutter-y website.</p>

<p>When I originally designed this website, I stepped out of my comfort zone and added a <em>lot</em> of photos, banners, fonts, and colors &#8212; I'm terrible at designing the "little details" so I relied on a lot of extra <em>things</em> to make the website feel more polished.</p>

<p><strong>In this design, I stripped most of that out.</strong> No more Typekit (oh man do I love Freight Text Pro but Typekit was just a bit too slow for me), no more custom fonts (Mrs Onion was fun, but in the end, a bit hard to read) &#8212; all hail <a href="https://fonts.google.com/specimen/Lato">Lato</a>, the only typeface used now. It's plain, but pretty, and comes with tons of weights.</p>

<p><strong>The <a href="https://hellowebbooks.com/#packages">landing pages</a> for the books also have been improved.</strong> A lot of the imagery has been removed and a lot more text content added, like FAQs and more descriptions of the package contents.</p>

<p>Last but not least, I've increased prices on all my products. This was a hard decision, but the last couple years I've had <em>really</em> low income for the amount of work I put into the videos/books. I've been severely undercharging for the amount of work I've put in. Of course, existing buyers will still get all product updates for free.</p>

<p>Things aren't done though! I am <em>thisclose</em> to launching my next announcement but not quite yet, which is why <i>Hello Web App</i> isn't available to be ordered right now (it might be a big obvious what the announcement is about). Gotta get my ducks in a row before I can turn that back on. I know this website has some bugs and kinks to work out, so I'm launching it sooner rather than later.</p>

<p>On the topic of bugs! <strong>If you see anything wonky, please let me know!</strong> I appreciate anyone who can help me test and debug the website.</p>

<p><strong>What do you think? See anything you like or dislike?</strong> Let me know in the comments below or on <a href="https://twitter.com/limedaring">Twitter</a>!</p>

{% endblock body %}
