title: Hello Web Design’s Product Hunt Launch Recap
# headline: An introduction
excerpt: On January 19th (after fretting for at least two weeks), I finally launched Hello Web Design on Product Hunt (You know, my book/video course teaching design for non-designers. The post did way better than I hoped, becoming the #5 product of the day. Here’s my recap of the process and what I learned from this go-around.
author: Tracy Osborn
featuredimage: /images/blog/2018/ph/ph.jpg
date: 29-1-2018
category: casestudy
featured: True

{% extends "post.html" %}
{% block body %}

{% filter markdown %}
On January 19th (after fretting for at least two weeks), I finally [launched _Hello Web Design_ on Product Hunt](https://www.producthunt.com/posts/hello-web-design) (You know, my [book/video course teaching design for non-designers](https://hellowebbooks.com/learn-design/).
{% endfilter %}

<figure class="caption video" style="padding-bottom: 50%;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Re_G20COq7s?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen='allowfullscreen'></iframe>
    <figcaption>Video/vlog version of this post! Trying to get better at speaking on camera so I'm doing a video version of all my posts.</figcaption>
</figure>

{% filter markdown %}

The post did _way_ better than I hoped, becoming the #5 product of the day.

Here’s my recap of the process and what I learned from this go-around.

{% endfilter %}

<figure class="caption">
    <a href="https://www.producthunt.com/posts/hello-web-design"><img src="/static/images/blog/2018/ph/ph.jpg" alt="Hello Web Design on Product Hunt"/></a>
    <figcaption><em>Hello Web Design</em> on Product Hunt</figcaption>
</figure>

{% filter markdown %}

## Pre-launch
It’s been quite awhile since I launched on Product Hunt and the community has evolved quite a bit.

**Thankfully [Product Hunt has their own guide on launching on Product Hunt](https://blog.producthunt.com/how-to-launch-on-product-hunt-7c1843e06399), which was super helpful** (I recommend checking it out first) but even so, I was still confused by a couple major things.

### On when to post

One of the questions I had was **what time of the day (and what day) to post?** Since your accumulate points throughout the day, you need to post early enough to start building momentum and traction.

The Product Hunt guide is very clear I shouldn't worry about this, but I still did (such like me). Other guides on the internet advocated for posting at ridiculously early times like 3am ET. I knew it didn’t matter _too_ much about when I posted, but I also wanted to post it as early as possible _just in case_.

**In the end, I set up my listing the night before and posted right when I woke up, at 7am ET/4am PT.** It was a little worrisome since there were quite a few other posts with a bunch of points by the time I woke up but in the end I still did well.

### Setting up the post and missing fields

It’s been so long since I did a PH listing so I was unfamiliar with the process.

I took a look at a few other successful Product Hunt pages (like [Marketing for Developers](https://www.producthunt.com/posts/marketing-for-developers-2-0)) and worked on my content in Google Docs for a few days perfecting what I wanted the sub-title, description, and introduction post to look like.

**A major point of confusion was that you can’t set the description when you’re going through the four application screens to submit your product.** Turns out, after the application is submitted, the description field and a bunch others pop in (like social media, which I originally put in as links in the application). Not the best UX but I figured it out in the end.

{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/ph/app.png" alt=""/>
    <figcaption>The four pages to go through before submitting your product don't include a description field (seen on other listings), which confused me.</figcaption>
</figure>

{% filter markdown %}

## How I promoted the launch

As soon as the post was up, I sent a newsletter to my ~5,000 newsletter subscribers.

I believe this is the reason why the post did so well — **I'm lucky to have a small audience built up already over the years.** In the post, I asked them to check out the listing and ask any questions they might have for me. I didn't ask for upvotes, but I'm sure anyone who knows Product Hunt read between the lines.

I also posted to Twitter several times during the day. I'm not the biggest fan of Twitter nowadays and the tweets didn't get _that_ much traction, but it's one of those things that I might as well do.

I'm a member of a few communities for makers (like [MegaMaker Club](https://megamaker.co/club/)) and I shared the campaign in those Slack's as well

That was pretty much the extent of my sharing efforts — I mostly relied on my newsletter friends.

## Post-launch
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/ph/phboard.png" alt=""/>
    <figcaption>Woohoo, 5th most upvoted!</figcaption>
</figure>

{% filter markdown %}

**In the end, my post hit #5 for the day.** I actually didn’t think it would, as in the list for the day, Hello Web Design was actually at #6 — I completely missed that one of the posts above mine was a sponsored post, and apparently ineligible for that ranking.

### Traffic
{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/ph/ganal.png" alt=""/>
    <figcaption>Pretty good traffic bump.</figcaption>
</figure>

{% filter markdown %}
Before I wrote this post, I was disappointed in the amount of traffic, but after looking at [my old post on launching on Product Hunt](https://hellowebbooks.com/news/how-i-launched-my-learn-to-code-book-and-made-nearly-5000-in-pre-orders/), I realized it was just about normal. Phew.

### Revenue

#### Direct sales (using Gumroad)

{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/ph/gumroad.png" alt=""/>
    <figcaption>Made about $2,000 the first day, and kept up a bit of momentum afterwards.</figcaption>
</figure>

{% filter markdown %}

**The biggest surprise here is that I didn't sell as many video packages as I've done in the past for Product Hunt — the majority of the sales were for the paperback book.** Not sure why. Maybe people have video/course fatigue? For _Hello Web App_, the majority of my sales was for the video product, and that listing didn't have photos (wasn't a feature then), whereas for the _Hello Web Design_ listing, I had a ton of photos (gotta show off that gorgeous book, yo.) Who knows, but I found this interesting.

#### Indirect sales (Amazon paperbacks and Kindle sales)

{% endfilter %}

<figure class="caption">
    <img src="/static/images/blog/2018/ph/amazon.png" alt=""/>
    <figcaption>The back-end of Seller Central, where I sell the paperback books.</figcaption>
</figure>

<figure class="caption">
    <img src="/static/images/blog/2018/ph/kdp.png" alt=""/>
    <figcaption>The back-end of Kindle Direct Publishing, where the Kindle sales are.</figcaption>
</figure>


{% filter markdown %}

Even though I didn't link to them directly from my Product Hunt page, **my other sales channels thhrough Amazon got a small boost.**

Unfortunately since then, Amazon has "temporarily removed" my paperback listing as "a customer reported details don't match the product" and that they're "investigating." Sigh. This is why I hate dealing with Amazon.

## Conclusion and lessons learned

I'm glad I was able to get a little chunk of money through the PH launch because it's tax season and I'm going to owe a few thousand dollars (yeehah, #entrepreneurshiplife.) **This launch was pretty crucial so I could buffer my bank account a bit and I'm glad it did as well as it did.**

Some takeaways from this experience:

* **It's really great to have people who seem to be true fans and will support what I do without asking.** I got a number of positive reviews on the post that were completely unexpected (and wonderful) and I am so grateful to have this community around me.
* **As usual, when these things are going on, it's impossible for me to do any other work.** I refresh the page like every five minutes and can't stay concentrated on any other task.
* **Posting at 7am ET and on a Thursday seemed fine.** I got lucky that there weren't any other huge launches that day to compete with mine.
* **Why did no one ask questions in the comment section?** Still baffled by how quiet it was.

And a quick run-down of my suggestions for anyone else preparing for their PH launch:

* **Look at other successful Product Hunt pages** in your space and use them to inspire your content and how you'll set up your own listing.
* **Work on your content and get it perfect.** Especially your sub-headline.
* **Make sure your icon/photos/imagery looks great.**
* **Post it as early in the day as you can** but don't lose sleep over it.
* **Write a great introduction** about yourself and your product as a comment.
* **Answer every comment** you can to keep the comments section looking active (also, to be polite and all that).
* **Don't ask for upvotes**, but share with your fans.

Any other questions? Ask me anything in the comments below!

{% endfilter %}

{% endblock body %}
