{% extends "base.html" %}

{% block title %}{{ block.super }} - Really Friendly Beginner Web Books by Tracy Osborn{% endblock %}

{% block header %}
    <meta property="og:url" content="https://hellowebbooks.com/">
    <meta property="og:title" content="Hello Web Books">
    <meta property="og:type" content="website">
    <meta property="og:description" 
          name="description" content="Brief books and videos by Tracy Osborn to teach you how to build a web app, how to make better designs, or both.">
    <meta name="twitter:site" content="@hellowebbooks" />
    <meta name="twitter:image" 
          property="og:image" content="https://hellowebbooks.com/static/images/blog/2017/11/mockup.jpg">
    <meta name="twitter:card" content="summary">
{% endblock %}

{% block analytics %}
analytics.page("Homepage");
{% endblock %}

{% block bodyclass %}
<body id="home">
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <h1>Build and Design Your Side Project</h1>
        <h2>Brief books and videos by Tracy Osborn to teach you how to build a web app, how to make better designs, or both.</h2>
        <a href="{% url '/order.html' %}" class="btn btn-primary">Buy the books</a>
    </div>
</div>

<div class="container">
    <div class="row packages" id="packages">
        <h2 class="text-center">My books and courses:</h2>
        <div class="col-sm-6 text-center hwd">
            <img src="{% static '/images/icons/design.svg' %}" width="50" height="50" alt="" class="vertical-margin" />
            <h4><a href="{% url '/learn-design.html' %}">Hello Web Design</a></h4>
            <h5>Web design fundamentals and shortcuts.</h5>
            {% comment %}<img src="{% static '/images/ic.jpg' %}" alt="Hello Web Design" class="vertical-margin" />{% endcomment %}
            <p>Design shortcuts and fundamentals aimed for programmers, developers, marketers, and non-designers. Learn just enough design to be dangerous.</p>
            <p><a href="{% url '/learn-design.html' %}" class="btn btn-secondary btn-sm">More about <i>Hello Web Design</i></a></p>
        </div>
        <div class="col-sm-6 text-center hwa">
            <img src="{% static '/images/icons/hwa.svg' %}" width="50" height="50" alt="" class="vertical-margin" />
            <h4><a href="{% url '/learn-django.html' %}">Hello Web App</a></h4>
            <h5>Learn how to build your first web app.</h5>
            {% comment %}<img src="{% static '/images/original.jpg' %}" alt="Hello Web App original" class="vertical-margin" />{% endcomment %}
            <p>Want to build your first web app? Hello Web App walks you through building and launching a simple web app using Python and Django.</p>
            <p><a href="{% url '/learn-django.html' %}" class="btn btn-secondary btn-sm">More about <i>Hello Web App</i></a></p>
        </div>
    </div>
</div>

<div class="container">
    <div id="featured-post-list">
        <h2 class="text-center">Recent articles</h2>
        <ul class="list-unstyled row">
        {% for post in posts %}
            {% if post.featured == "True" %}
            <li class="col-md-4">
                {% if post.featuredimage %}
                <div class="thumbnail">
                    <a href='{{ post.page.link_url|cut:".html" }}/'>
                        <img src="{% static post.featuredimage %}" alt="{{ post.title }}" />
                    </a>
                </div>
                {% endif %}
                <h5>
                    <a href='{{ post.page.link_url|cut:".html" }}/'>
                        {{ post.title }}
                        {% comment %}<h2>{{ post.excerpt }}</h2>{% endcomment %}
                    </a>
                </h5>
                {% comment %}
                <a href='{{ post.page.link_url }}'>
                    <aside class="dates">{{ post.date|date:"F j, Y" }}</aside>
                </a>
                {% endcomment %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>

        <p class="text-center" style="margin-bottom: 3em;">
            <a href="{% url '/news.html' %}" class="btn btn-secondary">More on the Hello Web Books blog</a>
        </p>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
{% include 'includes/newsletter-analytics.html' %}
{% endblock scripts %}
