{% extends "base.html" %}

{% block title %}Order - {{ block.super }}{% endblock %}

{% block analytics %}
analytics.page("Order");
{% endblock %}

{% block bodyclass %}
<body id="order">
{% endblock %}

{% block content %}
<div class="jumbotron"></div>

<div class="container">
    <h1 class="text-center">Order</h1>
    <p class="text-center">Ready to buy? Choose which package you want below!</p>

    {% comment %}
    Choose which books you want
    {% endcomment %}
    <div class="row packages choose-package">
        <div class="col-md-4 text-center">
            <a href="#hwd">
                <img src="{% static '/images/products/hwd-books.jpg' %}" alt="Hello Web Design"/>
            </a>
            <h3>Hello Web Design</h3>
            <p>Learn design fundamentals, a tiny bit of theory, and shortcuts to help you learn design.</p>
            <a href="#hwd" class="btn btn-secondary">Choose package</a>
            {# <p><small>Starting at $14.95</small></p> #}
        </div>
        <div class="col-md-4 text-center">
            <a href="#all">
                <img src="{% static '/images/products/both-books.jpg' %}" alt="Hello Web App"/>
            </a>
            <h3>Combo Pack</h3>
            <p>Build and design your side project. Includes both <i>Hello Web App</i> and <i>Hello Web Design</i>.</p>
            <a href="#original" class="btn btn-primary">Choose package</a>
            {# <p><small>Starting at $34.95</small></p> #}
        </div>
        <div class="col-md-4 text-center">
            <a href="#hwa">
                <img src="{% static '/images/products/both-books.jpg' %}" alt="Hello Web App"/>
            </a>
            <h3>Hello Web App</h3>
            <p>Everything you need to build and grow a web app. Create a web app and make it a success.</p>
            <a href="#original" class="btn btn-secondary">Choose package</a>
            {# <p><small>Starting at $24.95</small></p> #}
        </div>
        {% comment %}
        <div class="col-md-3 text-center">
            <a href="#ic">
                <img src="{% static '/images/products/ic-square.jpg' %}" alt="Hello Web App Intermediate Concepts"/>
            </a>
            <h3>Hello Web App: IC</h3>
            <p>Take your web app to the next level. Add an API, payments, and more.</p>
            <a href="#ic" class="btn btn-secondary">Choose package</a>
            <p><small>Starting at $14.95</small></p>
        </div>
        <div class="col-md-3 text-center">
            <a href="#both">
                <img src="{% static '/images/products/both-books.jpg' %}" alt="Hello Web App and Hello Web App: Intermediate Concepts"/>
            </a>
            <h3>Both Hello Web App Books</h3>
            <p>Everything you need to build and grow a web app. Create a web app and make it a success.</p>
            <a href="#both" class="btn btn-secondary">Choose package</a>
            <p><small>Starting at $24.95</small></p>
        </div>
        {% endcomment %}
    </div>

    <hr/>

    {% comment %}
    Original - choose which package you want
    <div class="row packages sub-packages" id="original" name="original">
        <a name="original" />
        <div class="intro text-center">
            <h2>Now, choose your Hello Web App package</h2>
            <p>Hello Web App walks you through creating your first web app with a customizable project template, taking you from from ideation to deployment.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hellowebapp">
                <img src="{% static '/images/products/original-paperback.jpg' %}" alt="Hello Web App original paperback package"/>
            </a>
            <h3>Paperback Package</h3>
            <p>All eBook files (PDF, .mobi, and .ePub) as well as the beautifully designed paperback book.</p>
            <a href="https://gum.co/hellowebapp" class="btn btn-secondary buy-button" data-category="Hello Web App: Original" data-title="Original Paperbacks" data-price="29.95">Buy for $29.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hellowebapp-videos">
                <img src="{% static '/images/products/original-videos.jpg' %}" alt="Hello Web App original video package"/>
            </a>
            <h3>Video Package</h3>
            <p>All eBook files <em>and</em> fourteen screencasts and videos, walking you through every chapter of the book.</p>
            <a href="https://gum.co/hellowebapp-videos" class="btn btn-primary buy-button" data-category="Hello Web App: Original" data-title="Original Videos" data-price="79">Buy for $79</a>
            <p><small>Add the paperback for $10 + shipping</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hellowebapp-ebook">
                <img src="{% static '/images/products/original-ebook.jpg' %}" alt="Hello Web App original ebook package"/>
            </a>
            <h3>eBook Package</h3>
            <p>Three eBook files (custom designed PDF, .mobi, and .ePub) to get you started on your web app journey.</p>
            <a href="https://gum.co/hellowebapp-ebook" class="btn btn-secondary buy-button" data-category="Hello Web App: Original" data-title="Original eBooks" data-price="14.95">Buy for $14.95</a>
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    Both - choose which package you want
    {% endcomment %}
    <div class="row packages sub-packages" id="hwa" name="hwa">
        <div class="intro text-center">
            <h2>Now, choose your Hello Web App package</h2>
            <p>Get everything you need to launch a your first web app and then add intermediate features like an API, customer payments, and more.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/double-hwa-pb">
                <img src="{% static '/images/products/both-paperback.jpg' %}" alt="Hello Web App combo paperback package"/>
            </a>
            <h3>Combo Paperback Package</h3>
            <p>All six eBook files (PDF, .mobi, and .ePub) as well as both beautifully designed paperback books.</p>
            <a href="https://gum.co/double-hwa-pb" class="btn btn-secondary buy-button" data-category="Both Hello Web App Books" data-title="Double Paperbacks" data-price="49.95">Buy for $49.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/double-hwa-video">
                <img src="{% static '/images/products/both-videos.jpg' %}" alt="Hello Web App combo video package"/>
            </a>
            <h3>Combo Video Package</h3>
            <p>All six eBook files <em>and</em> twenty screencasts and videos, walking you through every chapter of both books.</p>
            <a href="https://gum.co/double-hwa-video" class="btn btn-primary buy-button" data-category="Both Hello Web App Books" data-title="Double Videos" data-price="124">Buy for $124</a>
            <p><small>Add both paperbacks for $20 + shipping</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/double-hwa-ebook">
                <img src="{% static '/images/products/both-ebook.jpg' %}" alt="Hello Web App combo ebook package"/>
            </a>
            <h3>Combo eBook Package</h3>
            <p>Six eBook files (custom designed PDF, .mobi, and .ePub for each book) to get you started on your web app journey.</p>
            <a href="https://gum.co/double-hwa-ebook" class="btn btn-secondary buy-button" data-category="Both Hello Web App Books" data-title="Double eBooks" data-price="24.95">Buy for $24.95</a>
        </div>
    </div>

    {% comment %}
    IC - choose which package you want
    <div class="row packages sub-packages" id="ic" name="ic">
        <a name="ic" />
        <div class="intro text-center">
            <h2>Now, choose your Hello Web App: Intermediate Concepts package</h2>
            <p>Hello Web App: Intermediate Concepts helps you build more advanced features on your web app, like an API, admin emails, customer payments, user-uploaded images, and more.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwa-ic-paperback">
                <img src="{% static '/images/products/ic-paperback.jpg' %}" alt="Hello Web App combo paperback package"/>
            </a>
            <h3>Paperback Package</h3>
            <p>All three eBook files (PDF, .mobi, and .ePub) as well as the beautifully designed paperback book.</p>
            <a href="https://gum.co/hwa-ic-paperback" class="btn btn-secondary buy-button" data-category="Hello Web App: IC" data-title="Intermediate Concepts Paperback" data-price="29.95">Buy for $29.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwa-ic-complete">
                <img src="{% static '/images/products/ic-videos.png' %}" alt="Hello Web App combo video package"/>
            </a>
            <h3>Video Package</h3>
            <p>All eBook files <em>and</em> ten screencasts and videos, walking you through every chapter of the book.</p>
            <a href="https://gum.co/hwa-ic-complete" class="btn btn-primary buy-button" data-category="Hello Web App: IC" data-title="Intermediate Concepts Videos" data-price="79">Buy for $79</a>
            <p><small>Add the paperback for $10 + shipping</small></p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwa-ic-ebooks">
                <img src="{% static '/images/products/ic-ebook.png' %}" alt="Hello Web App combo ebook package"/>
            </a>
            <h3>eBook Package</h3>
            <p>Three eBook files (custom designed PDF, .mobi, and .ePub) to help you take your web app to the next level.</p>
            <a href="https://gum.co/hwa-ic-ebooks" class="btn btn-secondary buy-button" data-category="Hello Web App: IC" data-title="Intermediate Concepts eBooks" data-price="14.95">Buy for $14.95</a>
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    HWD - choose which package you want
    {% endcomment %}
    <div class="row packages sub-packages" id="hwd" name="hwd">
        <div class="intro text-center">
            <h2>Now, choose your Hello Web Design package</h2>
            <p>Beginner design books assume you want to become an expert designer. What if you want to learn just enough to complement your existing work? Hello Web Design will teach you the basics about design (no history!) and give you shortcuts so you can immediately become a better designer.</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwd-pb">
                <img src="{% static '/images/products/hwd-paperback.jpg' %}" alt="Hello Web Design paperback package"/>
            </a>
            <h3>Paperback Package</h3>
            <p>All three eBook files (PDF, .mobi, and .ePub) as well as the beautifully designed paperback book.</p>
            <a href="https://gum.co/hwd-pb" class="btn btn-secondary buy-button" data-title="Hello Web Design Paperback" data-category="Hello Web Design" data-price="29.95">Buy for $29.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://hellowebbooks.withcoach.com/hello-web-design-video-course">
                <img src="{% static '/images/products/hwd-videos.jpg' %}" alt="Hello Web Design video package"/>
            </a>
            <h3>Video Package</h3>
            <p>All eBook files <em>and</em> 17 screencasts and videos, walking you through every chapter of the book.</p>
            <a href="https://hellowebbooks.withcoach.com/hello-web-design-video-course" class="btn btn-primary buy-button" data-category="Hello Web Design"  data-title="Hello Web Design Videos" data-price="79">Buy for $79</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwd-ebook">
                <img src="{% static '/images/products/hwd-ebook.jpg' %}" alt="Hello Web Design ebook package"/>
            </a>
            <h3>eBook Package</h3>
            <p>Three eBook files (custom designed PDF, .mobi, and .ePub) to help you take your web design skills to the next level.</p>
            <a href="https://gum.co/hwd-ebook" class="btn btn-secondary buy-button" data-title="Hello Web Design eBooks" data-category="Hello Web Design" data-price="14.95">Buy for $14.95</a>
        </div>
    </div>

    {% comment %}
    Both HWA and HWD - choose which package you want
    {% endcomment %}
    <div class="row packages sub-packages" id="both" name="both">
        <div class="intro text-center">
            <h2>Now, choose your Combo Pack package</h2>
            <p>Build and launch your side project, from design to code. Includes both <i>Hello Web App</i> (to teach you web development with Python and Django) and <i>Hello Web Design</i> (to teach your web design fundamentals and shortcuts.)</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwd-pb">
                <img src="{% static '/images/products/hwd-paperback.jpg' %}" alt="Hello Web Design paperback package"/>
            </a>
            <h3>Paperback Package</h3>
            <p>All three eBook files (PDF, .mobi, and .ePub) as well as the beautifully designed paperback book.</p>
            <a href="https://gum.co/hwd-pb" class="btn btn-secondary buy-button" data-title="Hello Web Design Paperback" data-category="Hello Web Design" data-price="29.95">Buy for $29.95</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://hellowebbooks.withcoach.com/hello-web-design-video-course">
                <img src="{% static '/images/products/hwd-videos.jpg' %}" alt="Hello Web Design video package"/>
            </a>
            <h3>Video Package</h3>
            <p>All eBook files <em>and</em> 17 screencasts and videos, walking you through every chapter of the book.</p>
            <a href="https://hellowebbooks.withcoach.com/hello-web-design-video-course" class="btn btn-primary buy-button" data-category="Hello Web Design"  data-title="Hello Web Design Videos" data-price="79">Buy for $79</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="https://gum.co/hwd-ebook">
                <img src="{% static '/images/products/hwd-ebook.jpg' %}" alt="Hello Web Design ebook package"/>
            </a>
            <h3>eBook Package</h3>
            <p>Three eBook files (custom designed PDF, .mobi, and .ePub) to help you take your web design skills to the next level.</p>
            <a href="https://gum.co/hwd-ebook" class="btn btn-secondary buy-button" data-title="Hello Web Design eBooks" data-category="Hello Web Design" data-price="14.95">Buy for $14.95</a>
        </div>
    </div>

    <div class="text-center row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Curious about the videos and screencasts? See a preview:</h2>
            <figure class="full video">
                <iframe src="https://www.youtube.com/embed/_plvgaEjmak" frameborder="0" allowfullscreen></iframe>
            </figure>
        </div>
    </div>

    {% comment %}
    <div class="content-block text-center">
        <h2>Additional buying options</h2>
        <p><i>Hello Web Design</i> is also available on <a href="https://leanpub.com/hellowebdesign" class="buy-button" data-title="Leanpub Hello Web Design" data-price="9.95">Leanpub</a> and <a href="http://amzn.to/2xYzwoh" class="buy-button" data-title="Amazon Hello Web Design" data-price="9.95">Amazon</a>.</p>
        <p><i>Hello Web App</i> is also available on <a href="https://leanpub.com/hellowebapp?a=0Qu1J8dLjF2QeO0ymkzQOs" class="buy-button" data-title="Leanpub Hello Web App" data-price="9.95">Leanpub</a> and <a href="http://amzn.to/1yaeBNz" class="buy-button" data-title="Amazon Hello Web App" data-price="9.95">Amazon</a>.</p>
        <p><i>Hello Web App: Intermediate Concepts</i> is available on <a href="https://leanpub.com/hellowebapp-intermediate-concepts" class="buy-button" data-title="Leanpub Intermediate Concepts" data-price="9.95">Leanpub</a> or <a href="http://amzn.to/1lsXlxL" class="buy-button" data-title="Amazon Intermediate Concepts" data-price="9.95">Amazon</a> as well.</p>
    </div>
    {% endcomment %}

    <hr/>

    <div class="content-block text-center">
        <h2>Bulk orders</h2>
        <p>Interested in a classroom or workshop pack? Email <a href="mailto:tracy@hellowebbooks.com">tracy@hellowebbooks.com</a> for information on bulk licenses and discounts.</p>
    </div>
</div>

{% include 'includes/newsletter.html' %}
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        var toHide = false;
        $('a[href*=#]:not([href=#])').on('click', function (event) {
            event.preventDefault();
            var element = $(this.hash);
            if(toHide) {
                $(toHide).hide();
                toHide = false;
            }
            if(element.is(":hidden")) toHide = element.show();
            $('html,body').animate({ scrollTop: element.offset().top },'normal', 'swing');
        });

        $(".buy-button").each(function() {
            var link = $(this);
            analytics.trackLink(link, 'Clicked Buy Link', {
                name: $(link).data("title"),
                price: $(link).data("price"),
                revenue: $(link).data("price"),
                label: $(link).text(),
                category: $(link).data("title")
            });
        });
    });
</script>
{% include 'includes/newsletter-analytics.html' %}
{% endblock %}
